.d-filter {
    flex:0 0 250px !important;
}
#products , .detail-order {
    padding:20px;
}
#products  {
    overflow:auto;
    height:100%;
    width:100%;
}
.order {
    height: 100%;
}
#modal-order-detail .modal-content{
    height: 100%;
}
#modal-order-detail .modal-body{
    padding:0;
}
#pedido-id,#pedido-status {
    color: #b95b02;
}
